extends layout

block content
  .row
    .span12
      a.btn.btn-large(href="/#{jurisdiction_code}")
        i.icon-level-up
        |  #{jurisdiction}
  .view
    h2
      =name
      - if (abbreviation)
        | 
        small.abbr=abbreviation
    .attributes.dl-horizontal
      dt Home page
      dd
        a(href="#{url}")=name
      dt E-Mail
      dd=email
      dt Address
      dd
        - if (address)
          address
            pre=address
      dt Classification
      dd=classification
      - if (parentBody)
        dt Parent Body
        dd
          a(href="/#{parentBody.id}")=parentBody.name
      dt Jurisdiction
      dd #{jurisdiction} (#{jurisdiction_code})
      dt Tags
      dd=tags
      dt Description
      -if (description)
        dd.description
          blockquote=description

    .well
      p.source Source: <a href="#{source_url}">#{source_url}</a>
      p
        a.btn.btn-success(href="#{slug}.json") 
          i.icon-download-alt
          |  JSON
