extends layout

block content
  .row
    .span8
      h1 Jurisdictions
        each jurisdiction in juris
          .row-fluid.jurisdiction
            a(href="/#{jurisdiction.key}") 
              .span5.title
                | #{jurisdiction.name} 
              .span2.code
                | #{jurisdiction.key.toUpperCase()}
              .span3
                | #{jurisdiction.count} bodies
            .span2.download
              a.btn.btn-inverse(href="https://github.com/okfn/publicbodies/raw/master/data/#{jurisdiction.key}.csv") 
                i.icon-download-alt
                |  csv

    .span4.sidebar
      h3
        | Open Data 
        a(href='http://opendefinition.org/')
          img(alt='This material is Open Data', border='0', src='http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png')
      p
        | This is all 
        a(href='http://opendefinition.org/') open data
        |  licensed under the 
        a(href='http://opendatacommons.org/licenses/pddl/1.0/') Public Domain Dedication and License
        |. Please use and reuse freely.
      h3 Contribute
      p
        | Want to contribute (or just have a question)? Join the Open Knowledge Discuss forum and see the
        a(href='https://discuss.okfn.org/c/open-knowledge-labs/34') Open Knowledge Labs
        | section.
      p
        | Want to dive straight in? All the code 
        em and
        |  data are hosted in 
        a(href='https://github.com/okfn/publicbodies') this github repo
        |  and there's a list of 
        a(href='https://github.com/okfn/publicbodies/issues') issues
        |  where we need help!
    

